
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>扁鹊兄弟互助后台管理系统-$!page_title</title>

    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="http://res.xiongdihuzhu.com/res/bs/css/bootstrap/bootstrap.min.css" />

    <!-- RTL support - for demo only -->
    <script src="http://res.xiongdihuzhu.com/res/bs/js/demo-rtl.js"></script>
    <!--
    If you need RTL support just include here RTL CSS file <link rel="stylesheet" type="text/css" href="css/libs/bootstrap-rtl.min.css" />
    And add "rtl" class to <body> element - e.g. <body class="rtl">
    -->

    <!-- libraries -->
    <link rel="stylesheet" type="text/css" href="http://res.xiongdihuzhu.com/res/bs/css/libs/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="http://res.xiongdihuzhu.com/res/bs/css/libs/nanoscroller.css" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="http://res.xiongdihuzhu.com/res/bs/css/compiled/theme_styles.css" />

    <!-- this page specific styles -->
    <link rel="stylesheet" type="text/css" href="http://res.xiongdihuzhu.com/res/bs/css/libs/hopscotch.css">

    <!-- Favicon -->
    <link type="image/x-icon" href="favicon.png" rel="shortcut icon"/>

    <!-- google font libraries -->
    <!--link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Titillium+Web:200,300,400' rel='stylesheet' type='text/css' -->

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="theme-wrapper">
    <header class="navbar" id="header-navbar">
        <div class="container">
            #parse("/v2/manager/layout/top.vm")
        </div>
    </header>
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">
                #parse("/v2/manager/layout/left.vm")
            </div>
            <div id="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">

                        $screen_content

                    </div>
                </div>
<!--
                <footer id="footer-bar" class="row">
                    <p id="footer-copyright" class="col-xs-12">
                        线条科技 版权所有
                    </p>
                </footer>
                -->
            </div>
        </div>
    </div>
</div>

#parse("/admin/layout/configTool.vm")

<!-- global scripts -->
<script src="http://res.xiongdihuzhu.com/res/bs/js/demo-skin-changer.js"></script> <!-- only for demo -->

<script src="http://res.xiongdihuzhu.com/res/bs/js/jquery.js"></script>
<script src="http://res.xiongdihuzhu.com/res/bs/js/bootstrap.js"></script>
<script src="http://res.xiongdihuzhu.com/res/bs/js/jquery.nanoscroller.min.js"></script>

<script src="http://res.xiongdihuzhu.com/res/bs/js/demo.js"></script> <!-- only for demo -->

<!-- this page specific scripts -->
<script src="http://res.xiongdihuzhu.com/res/bs/js/hopscotch.js"></script>

<!-- theme scripts -->
<script src="http://res.xiongdihuzhu.com/res/bs/js/scripts.js"></script>
<script src="http://res.xiongdihuzhu.com/res/bs/js/pace.min.js"></script>

</body>
</html>